html, body {
  overflow-x: hidden;
}

body {
  font-family: "SF Pro Text", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Isidora", Helvetica, Arial, sans-serif;
}

h2 {
  font-size:28px;
  font-weight: semi-bold;
  margin-bottom: 5px;
}

p {
  font-size:16px;
  line-height: 19px;
  font-weight: 100;
}

.container {
  display: grid;
}

.banner {
  background-image: url("../assets/herobackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container.banner {
  height: 100vh;
  padding-left: 30px;
  padding-top: 30px;
}

.container.highlights {
  background-color: #053782;
  grid-template-rows: auto auto;
  padding-bottom: 100px;
}

.container.features-wrapper {
  background-color: #BAC8DC;
  padding-top: 200px;
  padding-bottom: 100px;
}

.container.download {
  height: 500px;
  background-image: url("../assets/pawprintpattern.png");
  background-repeat: repeat;
}

.container.contact-copyright {
  height: 300px;
  background-color: #053782;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  /*padding-right: 100px;
  padding-left: 100px;*/
  padding: 0 75px 100px 75px;
  /*grid-gap: 50px;*/
  column-gap: 200px;
  text-align: center;
  margin: auto;
}

.highlight-description {
 display: grid;
 grid-template-columns: 1fr;
 width: 100%;
 max-width: 800px;
 margin: auto;
 grid-gap: 75px;
 column-gap: 100px;
}

.point {
  display: grid;
  grid-template-rows: auto auto;
  margin: auto;
}

.point img {
  display: block;
  margin: auto;
}

.point p {
  color: #ffffff;
  text-align: center;
  max-width: 300px;
}

body .hero {
  display: grid;
  text-align: center;
  width: 500px;
  margin: auto;
  padding-bottom: 200px;
}

@media (min-width: 600px) {
  .features {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-right: 15vw;
    padding-left: 15vw;
    grid-gap: 50px;
    text-align: left;
  }
  .features:nth-of-type(even) {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 75px 0 0;
  }
  .features:nth-of-type(even) .features-image {
    grid-column: 2;
    grid-row: 1;
  }
  .features:nth-of-type(even) .features-side {
    grid-column: 1;
    grid-row: 1;
  }
  .highlight-description {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body .hero {
    margin: auto 0 auto auto;
    padding-right: 100px;
  }
}


.hero h1 {
  color: #ffffff;
  text-align: center;
}

.highlights h2 {
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.features-side h2 {
  color: #053782;
}

main .download {
  align-items: center;
  text-align: center;
}

.download h2 {
  color: #053782;
}

footer .contact {
  align-items: center;
  text-align: center;
}

.contact {
    margin: 75px 0 0;
}

.contact h3 {
    color: #ffffff;
}

footer .copyright p {
  color: #ffffff;
  font-size: 10px;
  padding-left: 30px;
}
