html, body {
  overflow-x: hidden;
}

body {
  font-family: "SF Pro Text", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Isidora", Helvetica, Arial, sans-serif;
}

h2 {
  font-size:28px;
  font-weight: semi-bold;
  margin-bottom: 5px;
}

p {
  font-size:16px;
  line-height: 19px;
  font-weight: 100;
}

.container {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  padding-left: 200px;
  padding-right: 200px;
}

.banner {
  background-image: url("../assets/herobackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container.banner {
  height: 820px;
}

.container.highlights {
  background-color: #053782;
  grid-template-rows: auto auto;
}

.container.features-wrapper {
  background-color: #BAC8DC;
}

.container.download {
  height: 500px;
  background-image: url("../assets/pawprintpattern.png");
  background-repeat: repeat;
}

.container.contact-copyright {
  height: 300px;
  background-color: #053782;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  margin: 75px 0 0;
}

@media (min-width: 600px) {
  .features {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 75px 0 0;
  }
  .features:nth-of-type(even) {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 75px 0 0;
  }
  .highlight-description {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  }
  .point {
      display: grid;
      grid-template-rows: auto auto;
      margin: auto;
  }
}

body .hero {
  display: grid;
  text-align: center;
  position: relative;
  width: 500px;
}

.hero h1 {
  color: #ffffff;
  text-align: center;
}

.highlights h2 {
  color: #ffffff;
  text-align: center;
}

.point {
  width: 50%;
}

.point p {
  color: #ffffff;
  text-align: center;
}

.features-side h2 {
  color: #053782;
}

main .download {
  align-items: center;
  text-align: center;
}

.download h2 {
  color: #053782;
}

footer .contact {
  align-items: center;
  text-align: center;
}

.contact {
    margin: 75px 0 0;
}

.contact h3 {
    color: #ffffff;
}

footer .copyright p {
  color: #ffffff;
  font-size: 10px;
}
